#page-login {
background-color: whitesmoke
}

#img {
    width:100%;
    height:40%;
}

#label {
    background-color: whitesmoke
}

#button {
    background-color: lightgrey;
    margin-top: 10px;
    color: black;
}
